name: Spring petclinic app pipeline

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      my-output: ${{ steps.set-output-step.outputs.some-value }}
    steps:
      - name: Set output
        id: set-output-step
        run: echo "some-value=Hello from job1" >> $GITHUB_OUTPUT

      - name: Print GitHub context
        run: echo '${{ toJson(github) }}'

      - name: Write to summary
        run: |
          echo "## :rocket: Build Summary" >> $GITHUB_STEP_SUMMARY
          echo "- Status: summary from job1" >> $GITHUB_STEP_SUMMARY
          echo "- Branch: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY
  job2:
    needs: [job1]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Write to summary
        run: |
          echo "## :rocket: Build Summary" >> $GITHUB_STEP_SUMMARY
          echo "- Status: summary from job2" >> $GITHUB_STEP_SUMMARY
          echo "- Branch: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY

      - name: Upload JSON artifact BETA
        uses: actions/upload-artifact@v4
        with:
          name: beta-CHG123124
          path: artifacts/beta-CHG123124.json
      
      - name: Upload JSON artifact PROD
        uses: actions/upload-artifact@v4
        with:
          name: prod-CHG325124
          path: artifacts/prod-CHG325124.json

      - name: Upload Random file
        uses: actions/upload-artifact@v4
        with:
          name: artifact-random
          path: artifacts/artifact-random.txt

  job3:
    needs: [job2]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: List artifacts for this run
        run: |
          gh run artifacts ${{ github.run_id }}


  