name: Spring petclinic app pipeline

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      my-output: ${{ steps.set-output-step.outputs.some-value }}
    steps:
      - name: Set output
        id: set-output-step
        run: echo "some-value=Hello from job1" >> $GITHUB_OUTPUT

      - name: Print GitHub context
        run: echo '${{ toJson(github) }}'

  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Show output from job1
        env:
          MY_VAR: ${{ needs.job1.outputs.my-output }}
        run: |
          echo "Output from job1: $MY_VAR"
          echo "Writing SSH private key..."

          printf "%s" "${{ secrets.SSH_PRIVATE_KEY }}" > /test.json
          chmod 600 /test.json
          cat /test.json
