name: Spring petclinic app pipeline

on:
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      my-output: ${{ steps.set-output-step.outputs.some-value }}
    steps:
      - name: Set output
        id: set-output-step
        run: echo "some-value=Hello from job1" >> $GITHUB_OUTPUT

      - name: Print GitHub context
        run: echo '${{ toJson(github) }}'

      - name: Write to summary
        run: |
          echo "## :rocket: Build Summary" >> $GITHUB_STEP_SUMMARY
          echo "- Status: summary from job1" >> $GITHUB_STEP_SUMMARY
          echo "- Branch: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY
  job2:
    runs-on: ubuntu-latest
    steps:
      - name: Write to summary
        run: |
          echo "## :rocket: Build Summary" >> $GITHUB_STEP_SUMMARY
          echo "- Status: summary from job2" >> $GITHUB_STEP_SUMMARY
          echo "- Branch: ${{ github.ref_name }}" >> $GITHUB_STEP_SUMMARY

  job3:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: SHow output from $GITHUB_STEP_SUMMARY
        run: |
          echo "$GITHUB_STEP_SUMMARY"
